@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/*  EFPanelFormLayout
        Requirements:
            label default width - 100px
            content default width - 150px
            label text align - left
            all components vertically and horizontally aligned
*/
af|panelFormLayout.EFPanelFormLayout::label-cell {
    text-align: left;
    width: 100px;
}

/* The content width has to be applied to each component individually */
af|panelFormLayout.EFPanelFormLayout af|inputText::content, af|panelFormLayout.EFPanelFormLayout af|selectOneChoice::content  {
    width: 150px;
}

/* selectOneChoice has different paddings by default (alta skin) */
af|panelFormLayout.EFPanelFormLayout af|selectOneChoice .AFPanelFormLayoutContentCell {
    padding-top: 8px;
}

af|panelFormLayout.EFPanelFormLayout af|selectOneChoice::label {
    padding-top: 8px;
}

/* the width for these components needs to take into account the button's width */
af|panelFormLayout.EFPanelFormLayout af|inputListOfValues::content {
    width: 130px;
}

af|panelFormLayout.EFPanelFormLayout af|inputComboboxListOfValues::content {
    width: 122px;
}