@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


/* custom color aliases */
.MyColor:alias {
    color: orange;
}


/* changing the global aliases from oracle */
/* this one will change the hover color on text and on the panel splitter slider */
.AFButtonTextHoverColor:alias {
    -tr-rule-ref: selector(".MyColor:alias");
}


/* custom class applied to the main container of the page */ 
.MainContainer {
    margin: 20px;
}

/* changing properties directly in the components */
af|button {
    color: #c60000; 
}

af|navigationPane-list::link {
    color: #008400; 
}

af|navigationPane-list::bullet:selected {
    border-left: 3px solid Lime; 
}