<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="login.jspx" id="d1">
            <af:form id="f1">
                <af:panelFormLayout id="pfl1">
                    <af:inputText label="Username" id="it1" required="true"
                                  value="#{login.username}"/>
                    <af:inputText label="Password" id="it2" required="true" secret="true"
                                  value="#{login.password}"/>
                    <f:facet name="footer">
                        <af:panelBorderLayout id="pbl1">
                            <f:facet name="start">
                                <af:button text="Login" id="b1" action="#{login.doLogin}"/>
                            </f:facet>
                        </af:panelBorderLayout>
                    </f:facet>
                </af:panelFormLayout>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
