<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="unauthorized.jspx" id="d1">
            <af:form id="f1">
                <af:outputText value="You have no permission to access this page." id="ot1"/>
                <af:button text="Go back" id="b1" action="back"/>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
